[package]
name = "discord-tts"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.1"
envy = "0.4.2"
once_cell = "1.16.0"
reqwest = { version = "0.11.13", features = ["rustls-tls"] , default-features = false }
serde = { version = "1.0.147" , features = ["derive"] }
serde_json = "1.0.89"
serenity = { version = "0.11.5", features = ["client", "standard_framework", "voice", "rustls_backend"] }
songbird = { version = "0.3.0", features = ["builtin-queue"] }
tokio = { version = "1.22.0", features = ["macros", "rt-multi-thread", "signal"] }
tracing = "0.1.37"
tracing-futures = "0.2.5"
tracing-subscriber = "0.3.16"
uuid = { version = "1.2.2", features = ["v4"] }

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
