[package]
name = "discord-tts"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.21.4"
bytes = "1.5.0"
envy = "0.4.2"
futures = "0.3.28"
once_cell = "1.18.0"
regex = "1.9.6"
reqwest = { version = "0.11.20", features = ["native-tls"] , default-features = false }
serde = { version = "1.0.188" , features = ["derive"] }
serde_json = "1.0.107"
serenity = { version = "0.11.6", features = ["cache", "client", "voice", "native_tls_backend"], default-features = false }
songbird = { version = "0.3.2", features = ["builtin-queue", "serenity-native", "driver"], default-features = false }
structstruck = "0.4.1"
tap = "1.0.1"
tokio = { version = "1.32.0", features = ["macros", "rt-multi-thread", "signal"] }
tracing = "0.1.37"
tracing-subscriber = "0.3.17"
wav = "1.0.0"

[profile.release]
strip = true
opt-level = 3
lto = true
codegen-units = 1
